.container
  .row
    .col.s12.m6.l3
      = render "mypages/sidebar"
    .col.s12.m8.l8
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        = render "devise/shared/error_messages", resource: resource
        .field
          = f.label :nickname
          %br/
          = f.text_field :nickname, autofocus: true, autocomplete: "nickname"
        .field
          = f.label :email
          %br/
          = f.email_field :email, autocomplete: "email"
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %div
            Currently waiting confirmation for: #{resource.unconfirmed_email}
        .field
          = f.label :password
          %i
            = t('view.new_password_information')
          %br/
          = f.password_field :password, autocomplete: "new-password"
          - if @minimum_password_length
            %br/
            %em
              = @minimum_password_length
              = t('view.password_information')
        .field
          = f.label :password_confirmation
          %br/
          = f.password_field :password_confirmation, autocomplete: "new-password"
        .field
          = f.label :current_password
          %i 
            = t('view.current_password_information')
          %br/
          = f.password_field :current_password, autocomplete: "current-password"
        %button.btn.waves-effect.waves-light
          = f.submit "#{t('view.update')}"
          %i.material-icons.right send
      %h3
        = t('view.cancel_my_account')
      %p
      = link_to registration_path(resource_name), data: { confirm: 'Are you sure?',"turbolinks" => false} do
        .btn.waves-effect.waves-light
          = t('view.cancel_my_account')
          %i.material-icons.right send
      %br
      %br
      = link_to :back do
        .btn.waves-effect.waves-light.grey
          = t('view.cancel')
          %i.material-icons.right cancel