- if controller_name != 'sessions'
  = link_to "#{t('view.sign_in')}", new_session_path(resource_name)
  %br/
- if devise_mapping.registerable? && controller_name != 'registrations'
  = link_to "#{t('view.sign_up')}", new_registration_path(resource_name)
  %br/
- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
  = link_to "#{t('view.forgot_password')}", new_password_path(resource_name)
  %br/
- if devise_mapping.confirmable? && controller_name != 'confirmations'
  = link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name)
  %br/
- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
  = link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name)
  %br/
- if devise_mapping.omniauthable?
  %hr
  .social-btn
    %p
      = link_to user_twitter_omniauth_authorize_path, class: "btn-twitter btn btn-social" do
        %i.fab.fa-twitter.fa-4x
        Twitterアカウントでログイン
    %p
      = link_to user_facebook_omniauth_authorize_path, class: "btn btn-social btn-facebook" do
        %span.fab.fa-facebook-f
        Facebookアカウントでログイン
    %p
      = link_to user_google_oauth2_omniauth_authorize_path, class: "btn btn-social btn-google" do
        %span.fab.fa-google
        Googleアカウントでログイン
