%h4
  = t('view.mypage')
.collection
  = link_to mypages_path, class: 'collection-item' do
    新着情報
    %i.material-icons.secondary-content send
  = link_to user_path(current_user.id), class: 'collection-item' do
    プロフィール
    %i.material-icons.secondary-content send
  = link_to favorites_path, class: 'collection-item' do
    お気に入り一覧
    %i.material-icons.secondary-content send
  = link_to post_drafts_path, class: 'collection-item' do
    下書き一覧
    %i.material-icons.secondary-content send
  = link_to users_path, class: 'collection-item' do
    ユーザ一覧
    %i.material-icons.secondary-content send
