.item
  .card.hoverable
    .card-image.waves-effect.waves-block.waves-light
      = image_tag post.image.url, class: 'activator' if post.image.url.present?
    .card-content
      %span.card-title.truncate.activator.grey-text.text-darken-4
        = post.title
      %p.truncate.activator
        = post.contents
      %p.grey-text
        = link_to "…詳しくはこちら", post_path(post.id)
      %ul
        - if user_signed_in?
          %li.like-link{id: "like-link-#{post.id}"}
            - if current_user.already_liked?(post)
              = link_to unlike_path(post.id), class: "heart", method: :delete, remote: true do
                %i.material-icons{ class: "hoverable", id: "heart-#{post.id}"} favorite
                = post.likes.count.to_s
            - else
              = link_to like_path(post.id), class: "heart", method: :post, remote: true do
                %i.material-icons{ class: "hoverable", id: "heart-#{post.id}"} favorite_border
                = post.likes.count.to_s
        -else
          = link_to new_user_session_path do
            %i.material-icons{ class: "hoverable" } favorite_border
            = post.likes.count.to_s
    .card-reveal
      %p.card-title.grey-text.text-darken-4
        %i.material-icons.right close
        = post.title
      %p
        = post.contents
      %p
        = link_to "…詳しくはこちら", post_path(post.id)
      %p.right.grey-text
        更新日時:
        = time_ago_in_words(post.updated_at)+"前"
