.col.s12.m6.l4.xl4
  .card.medium.hoverable
    .card-image.waves-effect.waves-block.waves-light.activator
      = image_tag post.image.url, class: 'activator' if post.image.url.present?
    .card-content
      %span.card-title.truncate.activator.grey-text.text-darken-4
        = post.title
        -# %i.material-icons.right more_vert
      %p.truncate.activator
        = post.contents
    .card-reveal
      %span.card-title.grey-text.text-darken-4
        = post.title
        %i.material-icons.right close
      %p         
        = post.contents
      %p
        %a{:href => "#"} Show detail
      %p.right
        = post.created_at.strftime("Create time:%Y/%m/%d %H:%M")

