.item
  .card.hoverable
    .card-image.waves-effect.waves-block.waves-light
      = image_tag post.image.url, class: 'activator' if post.image.url.present?
    .card-content
      %span.activator.grey-text.text-darken-4#card-title
        = post.title
      %p.grey-text#card-url
        = link_to "…詳しくはこちら", post_path(post.id)
      %ul#top-icon-section
        - if user_signed_in?
          %li.like-link{id: "like-link-#{post.id}"}
            - if current_user.already_liked?(post)
              = link_to unlike_path(post.id), class: "heart", method: :delete, remote: true do
                %i.material-icons{ class: "hoverable", id: "heart-#{post.id}"} favorite
                = post.likes.count.to_s
            - else
              = link_to like_path(post.id), class: "heart", method: :post, remote: true do
                %i.material-icons{ class: "hoverable", id: "heart-#{post.id}"} favorite_border
                = post.likes.count.to_s
          %li.favorite-link{id: "favorite-link-#{post.id}"}
            - if current_user.already_favorited?(post)
              = link_to unfavorite_path(post.id), class: "star", method: :delete, remote: true do
                %i.material-icons{ class: "hoverable", id: "star-#{post.id}"} star
                = post.favorites.count.to_s
            - else
              = link_to favorite_path(post.id), class: "star", method: :post, remote: true do
                %i.material-icons{ class: "hoverable", id: "star-#{post.id}"} star_border
                = post.favorites.count.to_s
          %li.share-link
            = link_to "#modal1", class: "modal-trigger" do
              %i.fas.fa-share-square.fa-lg{ class: "hoverable" }
        -else
          = link_to new_user_session_path do
            %i.material-icons{ class: "hoverable" } favorite_border
            = post.likes.count.to_s
          = link_to new_user_session_path do
            %i.material-icons{ class: "hoverable", id: "star-#{post.id}"} star_border
            = post.favorites.count.to_s
    .card-reveal
      %p.card-title.grey-text.text-darken-4
        %i.material-icons.right close
        = post.title
      %p
        = post.contents
      %p
        = link_to "…詳しくはこちら", post_path(post.id)
      %p.right.grey-text
        更新日時:
        = time_ago_in_words(post.updated_at)+"前"
#modal1.modal
  .modal-content

