- content_for(:html_title) {@post.title}
.container.show_container
  %ul.collection
    %li.collection-item.avatar
      = check_user_icon(@post.user)
      %span.title
        = link_to user_path(@post.user.id) do
          = @post.user.nickname
        = render 'relationships/follow_button', user: @post.user
    %li.collection-item.avatar
      .card-image
        = image_tag @post.image.url if @post.image.url.present?
      .card-content
        %h4.grey-text.text-darken-4
          = @post.title
        %span
          = @post.contents
        %p.grey-text
          更新日時:
          = time_ago_in_words(@post.updated_at)+"前"
      %ul#icon-section
        = render 'likes/like_links', post: @post
        - if user_signed_in? && current_user.id == @post.user_id
          %li.action#edit-del-links
            = link_to edit_post_path(@post.id) do
              %i.material-icons edit
            = link_to post_path, class: "post-destroy", method: :delete, data: { confirm: '削除いたします。よろしいですか?' } do
              %i.material-icons delete
      %ul#sns-icon-section
        %li
          = link_to "Tweet","https://twitter.com/share?ref_src=twsrc%5Etfw&hashtags=ExpressiveWriting&size=large", class: "twitter-share-button"
          %script{:async => "", :charset => "utf-8", :src => "https://platform.twitter.com/widgets.js"}
        %li
          %iframe{:class => "facebook-share-button",:id => "facebook-share-button", :allow => "encrypted-media", :allowtransparency => "true", :frameborder => "0", :height => "28", :scrolling => "no", :src => "https://www.facebook.com/plugins/share_button.php?href=#{request.url}&layout=button&size=large&width=75&height=28&appId", :style => "border:none;overflow:hidden", :width => "75"}
        %li.line-btn
          .line-it-button{"data-color" => "default", "data-count" => "false", "data-lang" => "ja", "data-size" => "large", "data-type" => "share-a", "data-url" => "#{request.url}", "data-ver" => "3"}
          %script{:async => "async", :defer => "defer", :src => "https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js"}
      - if @comments.present?
        %li.collection-item.avatar#comment-section
          - @comments.each do |comment|
            %ul.comment{"data-comment_id" => "#{comment.id}"}
              %li
                = check_user_icon(comment.user)
                %span.title
                  %div#comment-section__name
                    = comment.user.nickname
                  %div#comment-section__comment
                    = comment.comment
                  - if update_comment?(comment)
                    %div.grey-text#comment-section__updated-comment
                      (編集済み)
                  %p.grey-text#comment-section__createtime
                    = time_ago_in_words(comment.created_at)+"前"
                %ul#icon-section
                  = render 'comment_likes/comment_like_links', comment: comment
                  - if user_signed_in? && current_user.id == comment.user_id
                    %li.action#edit-del-links
                      = link_to "", class: "comment-edit" do
                        %i.material-icons{class: "hoverable"} edit
                      = link_to "", class: "comment-destroy" do
                        %i.material-icons{class: "hoverable"} delete
    - if user_signed_in?
      %li.collection-item.avatar#comment-form-section
        = form_for @comment, url: post_comments_path(@post.id) do |f|
          .row
            .input-field
              %h5.grey-text.darken-2-text#comment-section__comments-count{"data-comments_count" => "#{@comments.count}"}
                コメント#{@comments.count}件 
              = f.text_area :comment, class: "materialize-textarea textbox comment-textbox", :placeholder => "コメントを追加",'data-length': "250"
            %button.btn.waves-effect.waves-light.disabled.comment_submit-btn#new_comment{:name => "action", :type => "submit"}
              = t('view.submit')
              %i.material-icons.right send
