%header
  %nav
    .nav-wrapper
      = link_to root_path,class: "brand-logo",data: {"turbolinks" => false} do
        = t('view.site_title')
      %ul#nav-mobile.right.hide-on-med-and-down
        %li
          = link_to "#{t('view.about')}", "",data: {"turbolinks" => false}
        %li
          - if user_signed_in?
            = link_to "#{t('view.mypage')}", mypages_path,data: {"turbolinks" => false}
          - else
            = link_to "#{t('view.sign_up')}", new_user_registration_path,data: {"turbolinks" => false}
        %li
          - if user_signed_in?
            = link_to "#{t('view.sign_out')}", destroy_user_session_path, method: :delete, data: { confirm: 'Do you want to log out?' } 
          - else
            = link_to "#{t('view.sign_in')}", new_user_session_path,data: {"turbolinks" => false}
